
<h1>About Sonntag Nacht</h1><br>
<h4>Sonntag Nacht is a e-commerce shopping experience for jewelry in Berlin (created for my friend Georgia Sharp)</h4>

<div class="col-md-12" id="aboutme">
  <h2>
    Sonntag Nacht is a handmade accessories brand inspired by the hedonistic vibrancy of Berlin.

    From flower crowns to floggers. Harnesses to hair pieces. Bondage to burlesque.

    We aim to provide all of the straps and studs to adorn yourself for the wild Berlin nights that turn into days.

    Every piece is unique and personal customisation is available upon request.
  </h2>
  <h2>xoxo</h2>
  <br>
  <h2>G</h2>
</div>
