<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
  <ul>
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</nav>

<%= yield %>
<h1>About Sonntag Nacht</h1>
<p>Sonntag Nacht is a e-commerce shopping experience for jewelry in Berlin (created for my friend Georgia Sharp)</p>
<footer>
  &copy; 2017 Sonntag Nacht
</footer>
  </body>
</html>
