<div class="contact_page">
		<form action="/static_pages/thank_you" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden"/><input type="hidden" name="authenticity_token" value="tvYNEgVscdZ8YbC0xv1WmKnwbY10B2T3myBNK/wL9AjLoy58wQeCmmymsF3sUbIQFi3VOm8hozavjaGX9scg3Q==" />
			<div class="row">
			  <div class="col-md-5 col-sd-12" id="form1">
			  <h1>Contact Us</h1>


			    <div class="form-group">
			      <label for="name">Name</label>
			      <input type="text" name="name" id="name" class="form-control" placeholder="Enter Name" />
			    </div>
			    <div class="form-group">
			      <label for="email">Email Address</label>
			      <input type="text" name="email" id="email" class="form-control" required="required" placeholder="Enter Email" />
			    </div>
			    <div class="form-group">
			      <label for="message">Message</label>
			      <textarea name="message" id="message" class="form-control" required="required" placeholder="Enter Message"></textarea>
			    </div>
			    <input type="submit" name="commit" value="Send" class="btn btn-warning" data-disable-with="Send" />
			    <ul>
			    	<li>Sonntag Nacht</li>
			    	<li>Georgia</li>
			    	<li>Berlin</li>
			    	<li>Email: georgia.sharp@gmail.com</li>
			    </ul>
			  </div>
			</div>
    </form>
</div> <!-- /container-fluid -->
