<div class ="col-md-12" id="titlesite">
  <h2>Welcome to Sonntag Nacht: Your source for jewelry in Berlin</h2>
  <div class="centertext">
    <h3> For now: Sonntag Nacht is still in progress</h3>
  </div>
</div>

<!--<%= image_tag("hand.jpg", class: "img-responsive") %> This is my line of code to show you that I can do the photo inserted through ruby, but I wanted my photo to be background-->

<div class="col-md-12" id="aboutme">
  <h2>
    Sonntag Nacht is a handmade accessories brand inspired by the hedonistic vibrancy of Berlin.

    From flower crowns to floggers. Harnesses to hair pieces. Bondage to burlesque.

    We aim to provide all of the straps and studs to adorn yourself for the wild Berlin nights that turn into days.

    Every piece is unique and personal customisation is available upon request.
  </h2>
  <h2>xoxo</h2>
  <br>
</div>

<div class="col-md-12" id="contact">
  <h1>Contact</h1>
  <p>Georgia is contactable at georgia.sharp@gmail.com</p>

</div>
