<div class ="titlesite">
  <h2>Welcome to Sonntag Nacht: Your source for jewelry in Berlin</h2>
  <div class="centertext">
    <h3> For now: Sonntag Nacht is still in progress</h3>
  </div>
</div>

<!--<%= image_tag("hand.jpg", class: "img-responsive") %> This is my line of code to show you that I can do the photo inserted through ruby, but I wanted my photo to be background-->

<div class="col-md-12" id="contact">
  <h1>Contact</h1>
  <p>Georgia is contactable at georgia.sharp@gmail.com</p>

</div>
