<div class="landing_page">
  <div class ="titlesite">
    <h2>Welcome to Sonntag Nacht: Your source for jewelry in Berlin</h2>
    <div class="centertext">
      <h3> For now: Sonntag Nacht is still in progress</h3>
    </div>
  </div>
  <div class="col-md-12" id="contact1">
    <h1>Contact</h1>
  <h5>Georgia is contactable at georgia.sharp@gmail.com</h5>
  </div>
</div>
