
.searchform {
  float: right;
}
input[type="text"] {
  color: black;
  text-align: left;
}
input[type="submit"] {
  color: black;
  border: none;
  text-decoration: none;
  background-color: inherit;
}
