/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* latin-ext */
 html {
   height: 100%;
 }
 body {
   color: white;
   font-family: 'Poiret One', cursive;
   text-align: center;
   background-color: #2c2c2c;
   padding-top: 56px;
   padding-bottom: 30px;
 }
 p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}
 footer {
   color: black;
   font-weight: bolder;
   position: fixed;
   bottom: 0;
   text-align: center;
   width: 100%;
   opacity: 0.3;
   margin-left: -5%;
   height: 30px;
   background-color: #f5f5f5;
 }
 input[type="text"] {
   color: black;
   text-align: left;
 }
 p {
   color: white;
   text-align: left;
 }

 h2, h3, h1 {
   font-variant: small-caps;
   text-align: center;
   color: white;
 }

label {
  display: block;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
