.landing_page {
  background-image: url("../images/hand.jpg");
  background-size: cover;
  margin: auto;
}
.titlesite {
  text-align: center;
  text-shadow: 2px 2px #1a1a1a;
  height: 100vh;
}
#contact1 {
  margin-bottom: 25px;
}
