.field {
  color: black;
}
#sign_up {
  background-color: #6495ED;
  text-align: center;
  margin-left: 33%;
  margin-right: 33%;
  padding-bottom: 2%;
  border-radius: 25px;
}
#login {
  background-color: #B0C4DE;
  text-align: center;
  margin-left: 33%;
  margin-right: 33%;
  padding-bottom: 2%;
  border-radius: 25px;
}
