* {
  color: white;
}

p {
  text-align: center;
  font-size: 0.9em;
  line-height: 1.3em;
  font-family: 'Poiret One', cursive;
}
hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 100%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid #aaaaaa;
       border-bottom: 1px solid #ffffff;
    }
