// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: "Times New Roman", Georgia, Serif;
  color: #f8f8ff;
  font-family: 'Poiret One', cursive;
  text-align: center;
  background-color: #2c2c2c;
}
#titlesite {
  padding-top: 51px;
  text-align: center;
  //font-family: 'Oxygen', sans-serif;
  background-image: url("../images/hand.jpg");
  text-shadow: 2px 2px #1a1a1a;
  background-size: cover;
  height: 100vh;
}
#aboutme {
  background-color: #2c2c2c;
  //font-family: 'Poiret One', cursive;
  font-size: 1.1em;
}
footer {
  position: fixed;
  bottom: 0;
  text-align: right;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}
