<h1>Editing Product</h1>

<%= render 'form', product: @product %>
<div class="products-form">
	<div class="col-sm-12">
		<button class="btn btn-primary btn-colour-change"><%= link_to 'Show', @product %></button> |
		<button class="btn btn-primary btn-colour-change"><%= link_to 'Back', products_path %></button>
	</div>
</div>
<br>
<br>
