<h1>New Product</h1>

<%= render 'form', product: @product %>
<div class="products-form">
	<div class="col-sm-offset-2 col-sm-10">
		<button class="btn btn-primary btn-colour-change"><%= link_to 'Back', products_path %></button>
	</div>
</div>
